In [1]:
import pandas as pd #pandas for data frames

In [2]:
import numpy as np #numpy for objects

In [5]:
import os # To set the directory OS package is imported

In [ ]:
path ="F:/NYC_Taxi" # path of the file exist

In [9]:
os.chdir(path) #set directory specific to the document present

In [11]:
import random #to generate random sample

In [31]:
#filename="yellow_tripdata_2015-04.csv"
import glob 
filelist =glob.glob("*.csv") # get all the file names into list

In [33]:
for file in filelist:
    n = sum(1 for line in open(file)) - 1 #number of records in file (excludes header)
    s=50000
    print(file)
    skip=sorted(random.sample(range(1,n+1),n-s))    
    df= pd.read_csv(file,sep=",",skiprows=skip) # read the 50000 rows of csv into df
    df.to_csv("sample_"+file, sep=',')  # save the file with suffix as sample_
    print("end")

fhv_tripdata_2015-04.csv
end
fhv_tripdata_2015-05.csv
end
fhv_tripdata_2015-06.csv
end
green_tripdata_2015-04.csv
end
green_tripdata_2015-05.csv
end
green_tripdata_2015-06.csv
end
Subset of fhv_tripdata.csv
end
yellow_tripdata_2015-04.csv
end
yellow_tripdata_2015-05.csv
end
yellow_tripdata_2015-06.csv
end

In [16]:
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)

In [18]:
print(n)

13071789

In [13]:
pd.read_csv(filename,sep=",",skiprows=skip)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-04-27 15:16:33,2015-04-27 15:19:51,5,0.35,-73.982162,40.767731,1,N,-73.977570,40.764500,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
1,1,2015-04-21 19:46:38,2015-04-21 19:52:42,1,0.90,-73.970436,40.764008,1,N,-73.960930,40.773293,1,6.0,1.0,0.5,1.95,0.00,0.3,9.75
2,2,2015-04-30 21:41:45,2015-04-30 21:52:51,1,1.42,-73.976044,40.752579,1,N,-73.966507,40.765686,1,8.5,0.5,0.5,1.50,0.00,0.3,11.30
3,1,2015-04-04 19:21:10,2015-04-04 19:24:42,3,0.60,-74.006386,40.732998,1,N,-74.005096,40.740784,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
4,2,2015-04-21 08:27:12,2015-04-21 08:41:12,1,1.00,-74.002022,40.750809,1,N,-73.985832,40.743992,1,10.0,0.0,0.5,1.50,0.00,0.3,12.30
5,1,2015-04-28 21:21:13,2015-04-28 21:27:16,1,0.70,-73.995148,40.759434,1,N,-73.992477,40.751320,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
6,2,2015-04-18 09:50:51,2015-04-18 10:07:54,1,3.22,-73.947838,40.783451,1,N,-73.980133,40.750961,1,14.5,0.0,0.5,0.70,0.00,0.3,16.00
7,2,2015-04-28 14:45:01,2015-04-28 14:51:57,5,0.65,-73.955612,40.779858,1,N,-73.953514,40.787052,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
8,1,2015-04-21 09:16:12,2015-04-21 09:42:54,1,3.30,-73.996773,40.737839,1,N,-73.962875,40.770393,1,17.5,0.0,0.5,2.00,0.00,0.3,20.30
9,1,2015-04-16 00:48:13,2015-04-16 01:02:36,1,2.10,-74.001892,40.739468,1,N,-73.988159,40.718765,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
10,2,2015-04-08 13:47:33,2015-04-08 13:57:19,1,1.56,-73.979248,40.746964,1,N,-73.993065,40.729816,1,8.5,0.0,0.5,2.32,0.00,0.3,11.62
11,2,2015-04-02 08:55:45,2015-04-02 09:12:56,1,1.44,-73.971252,40.749115,1,N,-73.972221,40.761806,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36
12,2,2015-04-05 03:42:09,2015-04-05 04:01:21,1,5.47,-73.988312,40.737179,1,N,-73.990791,40.668041,1,19.0,0.5,0.5,2.00,0.00,0.3,22.30
13,1,2015-04-05 04:50:36,2015-04-05 04:59:40,1,2.80,-73.987846,40.759892,1,N,-74.007790,40.732204,1,10.5,0.5,0.5,1.00,0.00,0.3,12.80
14,2,2015-04-22 21:06:40,2015-04-22 21:13:48,5,1.46,-73.972412,40.758286,1,N,-73.959122,40.775005,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
15,2,2015-04-22 21:06:41,2015-04-22 21:21:37,1,6.72,-74.010551,40.721066,1,N,-73.976074,40.750988,1,21.0,0.5,0.5,6.69,0.00,0.3,28.99
16,1,2015-04-05 09:29:14,2015-04-05 09:41:06,1,6.40,-73.776711,40.645260,1,N,-73.860069,40.680283,2,19.0,0.0,0.5,0.00,0.00,0.3,19.80
17,2,2015-04-08 20:13:42,2015-04-08 20:25:22,1,1.49,-73.982147,40.768391,1,N,-73.961632,40.756886,1,9.0,0.5,0.5,1.00,0.00,0.3,11.30
18,1,2015-04-05 10:11:06,2015-04-05 10:16:24,1,1.80,-73.952423,40.798126,1,N,-73.961426,40.778557,1,7.0,0.0,0.5,1.00,0.00,0.3,8.80
19,2,2015-04-25 14:54:18,2015-04-25 15:04:09,1,1.76,-73.987160,40.760509,1,N,-73.971756,40.781918,1,9.0,0.0,0.5,2.45,0.00,0.3,12.25
20,2,2015-04-02 05:16:21,2015-04-02 05:16:23,5,0.00,0.000000,0.000000,2,N,0.000000,0.000000,1,52.0,0.0,0.5,0.00,0.00,0.3,52.80
21,2,2015-04-02 05:16:22,2015-04-02 05:26:14,2,2.17,-73.975533,40.733196,1,N,-73.993973,40.752544,1,9.5,0.5,0.5,2.00,0.00,0.3,12.80
22,2,2015-04-24 20:36:14,2015-04-24 20:38:21,1,0.26,-73.989464,40.736046,1,N,-73.990555,40.732830,1,3.5,0.5,0.5,1.00,0.00,0.3,5.80
23,1,2015-04-01 19:34:20,2015-04-01 19:37:05,2,0.60,-73.971001,40.761452,1,N,-73.968163,40.755375,2,4.0,1.0,0.5,0.00,0.00,0.3,5.80
24,2,2015-04-04 03:06:07,2015-04-04 03:10:28,1,1.48,-73.978271,40.748096,1,N,-73.969780,40.757469,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
25,2,2015-04-23 01:37:15,2015-04-23 01:58:48,1,4.81,-73.995163,40.760181,1,N,-73.945335,40.778286,1,19.0,0.5,0.5,4.06,0.00,0.3,24.36
26,1,2015-04-23 21:03:40,2015-04-23 21:09:29,1,0.90,-73.979126,40.755432,1,N,-73.990105,40.750614,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
27,2,2015-04-10 11:58:40,2015-04-10 12:25:51,3,21.39,-74.063950,40.599022,5,N,-74.079582,40.592911,2,100.0,0.0,0.5,0.00,11.08,0.3,111.88
28,2,2015-04-03 08:36:11,2015-04-03 08:49:32,1,1.58,-73.996269,40.743183,1,N,-73.986900,40.761215,1,10.0,0.0,0.5,1.50,0.00,0.3,12.30
29,2,2015-04-28 11:49:00,2015-04-28 11:57:17,1,1.19,-73.981956,40.770386,1,N,-73.980843,40.784912,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2,2015-04-21 19:56:54,2015-04-21 20:31:51,1,17.48,-73.789948,40.646633,2,N,-73.985130,40.756691,1,52.0,0.0,0.5,14.58,5.54,0.3,72.92
49971,1,2015-04-17 20:25:57,2015-04-17 20:40:06,2,0.80,-73.995972,40.726269,1,N,-73.999687,40.733627,1,9.5,0.5,0.5,0.00,0.00,0.3,10.80
49972,2,2015-04-25 08:52:32,2015-04-25 08:58:30,1,1.50,-73.946617,40.772362,1,N,-73.966988,40.772362,1,7.0,0.0,0.5,1.56,0.00,0.3,9.36
49973,1,2015-04-17 21:51:21,2015-04-17 22:03:42,2,1.50,-73.990570,40.756138,1,N,-74.003220,40.740025,1,9.5,0.5,0.5,0.02,0.00,0.3,10.82
49974,1,2015-04-21 22:30:12,2015-04-21 22:42:38,1,1.80,-73.981094,40.744602,1,N,-73.978210,40.764561,1,9.5,0.5,0.5,2.16,0.00,0.3,12.96
49975,1,2015-04-02 17:20:30,2015-04-02 17:27:03,2,1.20,-73.978943,40.752319,1,N,-73.980995,40.738129,2,6.5,1.0,0.5,0.00,0.00,0.3,8.30
49976,1,2015-04-30 17:13:37,2015-04-30 17:27:56,1,2.00,-73.959969,40.773426,1,N,-73.982048,40.766239,1,11.5,1.0,0.5,1.30,0.00,0.3,14.60
49977,1,2015-04-18 04:20:49,2015-04-18 04:24:10,3,0.40,-73.983467,40.765816,1,N,-73.976471,40.764980,1,4.5,0.5,0.5,1.00,0.00,0.3,6.80
49978,2,2015-04-03 09:12:12,2015-04-03 09:26:23,6,2.58,-73.953094,40.771729,1,N,-73.973740,40.750198,1,12.5,0.0,0.5,2.66,0.00,0.3,15.96
49979,1,2015-04-02 20:50:33,2015-04-02 21:09:30,1,4.90,-73.974510,40.756672,1,N,-74.003700,40.706001,1,18.0,0.5,0.5,2.90,0.00,0.3,22.20
49980,2,2015-04-09 12:19:37,2015-04-09 12:25:59,1,1.15,-73.995163,40.745476,1,N,-74.001350,40.756397,1,6.0,0.0,0.5,1.00,0.00,0.3,7.80
49981,1,2015-04-18 10:05:11,2015-04-18 10:17:16,1,1.00,-74.000336,40.747906,1,N,-73.988861,40.738487,1,9.0,0.0,0.5,1.95,0.00,0.3,11.75
49982,2,2015-04-18 00:34:28,2015-04-18 01:09:35,1,6.87,-73.987907,40.749161,1,N,-73.987061,40.664383,1,27.5,0.5,0.5,5.76,0.00,0.3,34.56
49983,1,2015-04-03 01:47:40,2015-04-03 02:00:09,1,3.30,-73.982956,40.738956,1,N,-73.992096,40.769676,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
49984,2,2015-04-22 12:43:14,2015-04-22 12:56:50,6,1.14,-73.973488,40.751976,1,N,-73.975822,40.764194,1,9.5,0.0,0.5,2.06,0.00,0.3,12.36
49985,2,2015-04-09 12:23:13,2015-04-09 12:50:13,1,2.91,-73.973282,40.755001,1,N,-74.002708,40.760639,1,18.0,0.0,0.5,3.00,0.00,0.3,21.80
49986,2,2015-04-06 12:00:11,2015-04-06 12:20:40,1,3.14,-73.992233,40.724941,1,N,-73.974426,40.763229,2,15.5,0.0,0.5,0.00,0.00,0.3,16.30
49987,2,2015-04-30 10:44:22,2015-04-30 11:12:52,2,5.15,-73.959114,40.780632,1,N,-73.989830,40.746815,1,23.0,0.0,0.5,4.76,0.00,0.3,28.56
49988,2,2015-04-04 19:24:59,2015-04-04 19:31:20,6,1.18,-73.985977,40.746914,1,N,-73.996582,40.732132,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
49989,2,2015-04-24 22:16:08,2015-04-24 22:19:11,5,0.74,-73.989182,40.773205,1,N,-73.982666,40.782364,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
49990,2,2015-04-22 08:24:11,2015-04-22 08:33:53,5,1.90,-73.956383,40.775749,1,N,-73.977753,40.773689,1,9.0,0.0,0.5,1.00,0.00,0.3,10.80
49991,2,2015-04-12 02:16:05,2015-04-12 02:30:17,1,5.92,-73.980606,40.733929,1,N,-73.952377,40.718521,1,18.5,0.5,0.5,3.96,0.00,0.3,23.76
49992,1,2015-04-09 18:36:24,2015-04-09 18:42:25,1,1.50,-73.974594,40.741993,1,N,-73.960068,40.758251,1,7.0,1.0,0.5,2.00,0.00,0.3,10.80
49993,2,2015-04-07 18:05:36,2015-04-07 18:17:21,1,1.45,-74.008476,40.733784,1,N,-73.988831,40.736683,1,9.5,1.0,0.5,2.26,0.00,0.3,13.56
49994,1,2015-04-28 08:19:25,2015-04-28 08:29:14,1,1.10,-73.980560,40.764648,1,N,-73.978561,40.752159,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
49995,2,2015-04-02 14:09:36,2015-04-02 14:20:16,1,0.99,-73.994019,40.751270,1,N,-73.981354,40.755859,1,8.0,0.0,0.5,0.00,0.00,0.3,8.80
49996,1,2015-04-15 09:07:20,2015-04-15 09:21:34,1,2.10,-73.981438,40.720879,1,N,-73.990082,40.741653,1,11.5,0.0,0.5,3.05,0.00,0.3,15.35
49997,1,2015-04-22 08:12:43,2015-04-22 08:20:26,1,1.20,-73.993851,40.741661,1,N,-73.983391,40.756596,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80
49998,1,2015-04-15 10:30:18,2015-04-15 10:37:17,1,0.70,-73.991379,40.749928,1,N,-74.002785,40.752033,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
49999,2,2015-04-07 16:03:13,2015-04-07 16:09:10,1,1.06,-73.992073,40.731281,1,N,-73.993301,40.742279,1,6.0,1.0,0.5,1.56,0.00,0.3,9.36